.movieDetails {
    height: auto;
}
.movieDetails p {
    line-height: 1.1rem;
}
.movieDetails .all p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.movieDetails h3 {
    margin-bottom: 10px;
}
.movieDetails h5 {
    margin: 25px 0 18px 0;
}
.movieDetails .movie-year {
    font-weight: 300;
}
.movie-rating {
    height: auto;
}
.movie-rating i {
    color: #e8a822;
}
.movie-rating span {
    font-size: 12px;
}
.movie-stars{
    font-size: 24px;
    margin: 0; 
}
.rating-button {
    margin: 20px 0;
}
.mark {
    color: #e8a822;
}
.stars__button {
    margin: 0 1px;
    padding: 0;
    width: 12px;
}

.i__star {
    font-size: 12px;
}

.p__rating {
    margin-top: 10px;
    margin-bottom: 0;
}