.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    height: 80px;
    padding: 14px 0;
    z-index: 100;
  }
  
  .toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
  }
  
  .toolbar__logo {
    margin-left: 1rem;
    display: flex;
  }
  
  .toolbar__logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .toolbar_navigation-items li {
    padding: 0 0.5rem;
  }
  
  .toolbar_navigation-items a {
    color: #fff;
    text-decoration: none;
  }
  
  .toolbar_navigation-items a:hover,
  .toolbar_navigation-items a:active {
    color: #e8a822;
  }

  @media (max-width: 768px) {
    .toolbar_navigation-items {
      display: none;
    }
    .toolbar__logo {
      width: calc(100% - 80px);
      justify-content: center;
    }
  }
  
  @media (min-width: 769px) {
    .toolbar__toggle-button {
      display: none;
    }
  
    .toolbar__logo {
      margin-left: 0;
    }
  }

  .toolbar__username a {
    color: #fff;
    margin-left: 2px;
  }

  .toolbar__userimg {
    max-height: 20px;
    margin: 0 0 0 10px;
  }